body {
    background-color: #ededed;
}

.bg-color {
    background-color: #34495e;
}

.current-label {
    font-weight: 700;
}

.current-label span {
    font-weight: 600;
    color: #2980b9;
}

.card-bg {
    background-color: rgba(52, 152, 219, 0.20);
}

.hide {
    display: none;
}